DATABASE_URL=postgresql://cc_education:is2_1c_2025@localhost:5432/class_connect_education?schema=public
PORT=3002
MONGODB_URL=mongodb://cc_user:cc_password@localhost:27017/classconnect?authSource=admin
JWT_SECRET=your_jwt_secret_here
GATEWAY_URL=http://localhost:3000
GATEWAY_TOKEN=gateway-token
